# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'github-cloner'
      'submenu': [
        {
          'label': 'Find repository on Github...'
          'command': 'github-cloner:toggle'
        }
      ]
    ]
  }
]
